
.profile-container {
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5);
}
.profile-container .profile-container-title{
  text-align: center;
  color: #596475;
  background: #FFFFFF;
}
.profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  background: #FFFFFF;
}

.profile-info {
  flex: 1;
  padding-right: 20px;
  background: #FFFFFF;
}

.profile-info h2 {
  margin-top: 0;
  color: #596475;
  background: #FFFFFF;
}

.profile-info label {
  display: block;
  margin-bottom: 5px;
  background: #FFFFFF;
}

.profile-info input[type="text"],
.profile-info input[type="email"],
.profile-info textarea {
  width: 100%;
  padding: 10px;

  border: 1px solid #CDD3CE;
  border-radius: 3px;
  background:#F9F8F8;
}

.profile-info textarea {
  height: 100px;
  background: #F9F8F8;
}

.profile-info button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top:20px;
  margin-bottom: 20px;
  height: 60px;
  font-size: 22px;
  background-color: #B118C8;
  color: #F9F8F8;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.profile-info button:hover {
  background-color: #596475;
}

.profile-avatar {
  flex: 1;
  text-align: center;
  background: #FFFFFF;
}

.profile-avatar img {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 15px;

  background: #FFFFFF;
}

.profile-avatar input[type="file"] {
  display: none;

  background: #FFFFFF;
}

.profile-avatar label {
  display: block;
  color: #B118C8;
  cursor: pointer;

  background: #FFFFFF;
}

.profile-info .option-button{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30px;
}

.notification-button-container {
  display: flex;
  margin:auto;
}
.notification-button-container button{
  display: block;
  padding: 10px;
  background-color: #B118C8;
  color: #F9F8F8;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.notification-button-container a{
    width:100%;
}

.notification-button-container button:hover{
  background-color: #596475;
}






.logout-button-container {
  display: flex;
}
.logout-button-container button{
  display: block;
  padding: 10px;
  margin-bottom: 5%;
  background-color: #B118C8;
  color: #F9F8F8;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.logout-button-container a{
  width:100%;
}

.logout-button-container button:hover{
  background-color: #596475;
}




@media only screen and (min-width: 1301px) {
  .profile-container {
    margin-top: 1%;
    width: 70%;
  }
  .notification-button-container {
    margin-top: 4%;
    width: 30%;
  }
  .notification-button-container button{
    width: 100%;

    height: 50px;
    font-size: 22px;
  }

  .logout-button-container {
    margin-top: 1%;
    width: 30%;
  }
  .logout-button-container button{
    width: 100%;

    height: 50px;
    font-size: 22px;
  }

}


@media only screen and (min-width: 768px) and (max-width: 1300px) {
  .profile-container {
    margin-top: 2%;
    width: 90%;
  }

  .notification-button-container {
    margin-top: 7%;
    width: 60%;
  }
  .notification-button-container button{
    width: 100%;
    height: 60px;
    font-size: 28px;
  }


  .logout-button-container {
    margin-top: 3%;
    width: 60%;
  }
  .logout-button-container button{
    width: 100%;
    height: 60px;
    font-size: 28px;
  }

}



@media only screen and (max-width: 767px) {
  .profile-container {
    margin-top: 8%;
    width: 80%;
  }
  .profile-avatar img{
    width: 100%;
  }
  .notification-button-container {
    margin-top: 10%;
    width: 70%;
  }
  .notification-button-container button{
    width: 100%;
    height: 50px;
    font-size: 22px;
  }


  .logout-button-container {
    margin-top: 5%;
    width: 70%;
  }
  .logout-button-container button{
    width: 100%;
    height: 50px;
    font-size: 22px;
  }

}
